Page {
    background-color: #f2d7ee;
    color: #0e103d;
}

GridView {
    background-color: #f2d7ee;
}

/* icons */
.icon {
    font-family: 'Flaticon';
}

.icon--large {
    font-size: 96;
    text-align: center;
    color: #d9bed5;
}

/* actionbar */
.actionbar {
    background-color: #69306d;
    color: #0e103d;
}

.actionbar__title {
    color: #fff;
}

.actionbar__item {
    color: #0e103d;
}

/* listview */
.listview {
    background-color: #f2d7ee;
}

.listview__tem {
    background-color: #f2d7ee;
	padding: 20;
}

/* border */
.border {
    
}

.border--connect {
    border-width: 5;
    border-radius: 60;
    width: 120;
    height: 120;
    border-color: #bf80a5 ;
    background-color: #a5668b;
    margin-top: 20;
}

/* input */
.input {
    background-color: #d9bed5;
    margin: 0 20 20 20;
    padding: 15 10;
    color: #0e103d;
}

/* button */
.button {
	color: #fff;
}

.button--connect {
    border-radius: 60;
    background-color: #a5668b;
}

/* label */
.label {
    margin: 0 20 5 20;
    opacity: 0.5;
}

/* spacer */
.spacer {
    height: 20;
}