Page {
    background-color: #cfb6d7;
}
GridView {
    background-color: #cfb6d7;
}

/* icons */
.icon {
    font-family: 'Flaticon';
}

/* actionbar */
.actionbar {
    background-color: #6c2883;
}

.actionbar__title {
    color: #fff;
}

/* listview */
.listview {
    background-color: #cfb6d7;
}
.listview__tem {
    background-color: #cfb6d7;
	padding: 20;
}